.App {
  text-align: center; 
  background: rgb(206,167,167);
  background: linear-gradient(90deg, rgba(206,167,167,1) 0%, rgba(119,80,80,1) 50%, rgba(197,157,157,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}